*, *::after, *::before {
    box-sizing: border-box;
    user-select: none;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    background-color: #ffffff;
}

body.dark-mode {
    background-color: #121212;
    color: #f8f8ff;
}

#toggle-mode-div {
    text-align: right;
    padding: 10px 10px 0 0;
}

#toggle-mode-button {
    width: 50px;
    height: 50px;
    font-size: 150%;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: max(20px, 1.5vw);
    margin: auto;
    /*background-color: red;*/
    flex-grow: 0;
}

.board {
    display: grid;
    justify-content: center;
    align-items: center;
    justify-items: center;
    align-content: center;
    grid-template-columns: repeat(3, auto);
    border-color: #ffffff;
    /*background-color: green;*/
    flex-grow: 1;
}

.square {
    width: max(120px,8vw);
    height: max(120px,8vw);
    font-size: max(100px,7vw);
    border: 1px solid black;
    text-align: center;
}

.square.dark-mode {
    border-color: #ffffff;
}

.square:nth-child(5) {
    border: none;
}

.square:nth-child(2),
.square:nth-child(8) {
    border-left: none;
    border-right: none;
}

.square:nth-child(4),
.square:nth-child(6) {
    border-top: none;
    border-bottom: none;
}

.turn-text {
    text-align: center;
    font-size: max(15px,1.25vw);
    padding: 0;
    height: 60px;
    margin-top: 2vh;
    /*background-color: blue;*/
}

.winner {
    text-align: center;
    flex-direction: column;
    gap: 5px;
    font-size: 50px;
}

.winner #win-text {
    transform: scale(0);
}

.winner #restart-button {
    display: inline-block;
    margin: 2vh auto;
    width: 200px;
    height: 50px;
    font-size: 50%;
}

footer {
    display: flex;
    justify-content: space-between;
    font-size: 1vw;
    padding: 0 1vw;
}

footer a {
    text-decoration: none;
    color: blue;
}

footer a:active, footer a:hover, footer a:visited {
    color: blue;
}